ul{
    color:red;
    list-style-type: kannada;
    background-image: url(../images/apple-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 600;
}
ul li{
    margin:35px;
}




















